[Desktop Entry]
Type=Application
Name=Microsoft Office PowerPoint
MimeType=application/x-wine-extension-thmx;
Exec=wine start /ProgIDOpen OfficeTheme.12 %f
NoDisplay=true
StartupNotify=true
Icon=AC7F_POWERPNT.0
